/gestcourSQLITExam/gestcourSQLITExam/bin
/gestcourSQLITExam/gestcourSQLITExam/obj
/gestcourSQLITExam/gestcourSQLITExam.Android/bin
/gestcourSQLITExam/gestcourSQLITExam.Android/obj
/gestcourSQLITExam/gestcourSQLITExam.UWP/bin
/gestcourSQLITExam/gestcourSQLITExam.UWP/obj
/gestcourSQLITExam/bin
/gestcourSQLITExam/obj
/gestcourSQLITExam.Android/bin
/gestcourSQLITExam.Android/obj
/gestcourSQLITExam.UWP/bin
/gestcourSQLITExam.UWP/obj
.vs
/gestcourSQLITExam/.vs