/GestionCoursesXamarin/GestionCoursesXamarin/bin
/GestionCoursesXamarin/GestionCoursesXamarin/obj
/GestionCoursesXamarin/GestionCoursesXamarin.Android/bin
/GestionCoursesXamarin/GestionCoursesXamarin.Android/obj
/GestionCoursesXamarin/GestionCoursesXamarin.UWP/bin
/GestionCoursesXamarin/GestionCoursesXamarin.UWP/obj
/GestionCoursesXamarin/bin
/GestionCoursesXamarin/obj
/GestionCoursesXamarin.Android/bin
/GestionCoursesXamarin.Android/obj
/GestionCoursesXamarin.UWP/bin
/GestionCoursesXamarin.UWP/obj
.vs
/GestionCoursesXamarin/.vs